:root {
	--im-font-family: initial;
	--im-font-family: initial;
  --im-color: #fff;
  --im-bg: black;
  --im-link-color: var(--im-color);
  --im-link-hover-color: hsla(0, 0%, 100%, .8);
	--im-btn-bg: rgba(0, 0, 0, 0.84);
	--im-btn-hover-bg: rgba(0, 0, 0, 0.89);
	--im-btn-active-box-shadow: 0 0 0 0.25em rgba(0, 0, 0, 0.24);
  --im-btn-s-color: #000;
  --im-btn-s-bg: hsla(0, 0%, 66.6%, .8);
  --im-btn-s-hover-bg: hsla(0, 0%, 72%, .8);
  --im-btn-s-active-bg: hsla(0, 0%, 77%, .8);
  --im-overlay-bg: linear-gradient(14deg, #111, rgba(220, 220, 220, 0.118));
}

/* Buttonfarben von Cookieconsent übernehmen */
div[data-service] {
  --im-btn-color: var(--cc-btn-primary-text);
  --im-btn-bg: var(--cc-btn-primary-bg);
  --im-btn-hover-bg: var(--cc-btn-primary-hover-bg);
	--im-btn-s-color: var(--cc-btn-secondary-text);
	--im-btn-s-bg: var(--cc-btn-secondary-bg);
  --im-btn-s-hover-bg: var(--cc-btn-secondary-hover-bg);
  --im-btn-s-active-bg: var(--cc-btn-secondary-hover-bg);
}

div[data-service] .cll .c-l-b,
div[data-service] .cll .c-la-b {
	border-radius: 0;
	border: 1px solid hsla(0, 0%, 100%, .05);

}
div[data-service] .cll .c-la-b {
	opacity: 0.8;
}
div[data-service] .cll .c-n-t a {
	color: var(--im-link-color) !important;
}